In [1]:
from wrangle import wrangle_telco
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from datetime import date
import seaborn as sns
from pydataset import data
from env import host, user, password
from prepare import scale_prep
from pydataset import data

In [2]:
telco = wrangle_telco()

In [3]:
telco.head()

  customer_id  monthly_charges  tenure  total_charges
0  0002-ORFBO            65.60       9         593.30
1  0020-JDNXP            61.25      34        1993.20
2  0022-TCJCI            62.70      45        2791.50
3  0023-UYUPN            25.20      50        1306.30
4  0036-IHMOT           103.70      55        5656.75

In [4]:
# telco.total_charges = telco.replace(r'^\s*$', np.NaN, regex = True)

In [5]:
telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1473 entries, 0 to 1472
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1473 non-null   object
 1   monthly_charges  1473 non-null   float64
 2   tenure           1473 non-null   int64
 3   total_charges    1473 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 46.2+ KB

In [6]:
telco

     customer_id  monthly_charges  tenure  total_charges
0     0002-ORFBO            65.60       9         593.30
1     0020-JDNXP            61.25      34        1993.20
2     0022-TCJCI            62.70      45        2791.50
3     0023-UYUPN            25.20      50        1306.30
4     0036-IHMOT           103.70      55        5656.75
...          ...              ...     ...            ...
1468  9968-FFVVH            68.80      63        4111.35
1469  9972-VAFJJ            94.00      53        4871.45
1470  9978-HYCIN            84.95      47        4018.05
1471  9979-RGMZT            94.05       7         633.45
1472  9987-LUTYD            55.15      13         742.90

[1473 rows x 4 columns]

In [7]:
telco.drop(columns = ['customer_id'], inplace = True)

In [8]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(telco, test_size=.2, random_state=123)
train, validate = train_test_split(train, test_size=.3, random_state=123)

In [9]:
scale_prep(train, validate, test)

(     monthly_charges    tenure  total_charges
 0           0.824747  0.676056       0.568082
 1           0.526768  0.661972       0.416617
 2           0.557576  0.718310       0.445286
 3           0.769697  0.521127       0.412237
 4           0.882323  0.816901       0.719755
 ..               ...       ...            ...
 819         0.687879  0.788732       0.567788
 820         0.021717  0.338028       0.054968
 821         0.787374  0.732394       0.598633
 822         0.323232  0.112676       0.051327
 823         0.045455  1.000000       0.185132

 [824 rows x 3 columns],
      monthly_charges    tenure  total_charges
 0           0.218182  0.140845       0.046596
 1           0.604040  0.957746       0.615930
 2           0.809091  0.971831       0.786961
 3           0.014141  0.732394       0.121088
 4           0.011111  0.084507       0.017811
 ..               ...       ...            ...
 290         0.754545  0.704225       0.530897
 291         0.400000  0.971831       0.472461
 292         0.861616  0.929577       0.810299
 293         0.518687  0.830986       0.485333
 294         0.259091  0.690141       0.250363

 [295 rows x 3 columns],
      monthly_charges    tenure  total_charges
 0           0.363131  0.577465       0.268826
 1           0.013131  0.211268       0.032004
 2           0.017677  0.197183       0.031981
 3           0.682323  0.704225       0.490232
 4           0.953030  0.985915       0.915584
 ..               ...       ...            ...
 349         0.567677  0.760563       0.484087
 350         0.209596  0.112676       0.040872
 351         0.880808  0.845070       0.753393
 352         0.623737  0.563380       0.374463
 353         0.505051  0.873239       0.472254

 [354 rows x 3 columns])

In [5]:
tips = data("tips")

In [6]:
from evaluate import plot_residuals

In [7]:
plot_residuals(tips.tip, tips, tips.total_bill)

AttributeError: 'DataFrame' object has no attribute 'x'